<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--Path to Bitwarden executable-->
    <add key="BITWARDEN_CLI" value="Vendor\bw.exe"/>
    <!--true will automatically check for CLI executable updates at startup, false will not-->
    <add key="UPDATE_CLI" value="true"/>
    
    <!--Login duration in minutes - Logout will happen if the last login has been {this} long ago-->
    <!--Format: dd.hh:mm:ss-->
    <!--Using a duration of "0.00:00:00" will immediately log out the user-->
    <add key="LOGIN_DURATION" value="365.00:00:00"/>

    <!--
    Bitwarden Authentication
    Leave empty if you want the authentication handled by the CLI only    
    -->
    <add key="USERNAME" value=""/>
    <add key="PASSWORD" value=""/>
    
    
    <!--Export working directory-->
    <add key="EXPORT_DIRECTORY" value="Output\"/>
    
    <!--Export-Formats, separated by Comma (,), ex.: BitwardenCsv,OnePasswordWinCsv-->
    <add key="EXPORT_FORMATS" value="BitwardenCsv,OnePasswordWinCsv"/>
    
    <!--Export Password
          A new entry in your Bitwarden CLI will be created with the following name containing the backup password-->
    <add key="BACKUP_PASSWORD_NAME" value="Bitwarden ExportBackup"/>

    <!--Delete old backup archives?-->
    <add key="DELETE_OLD_FILES" value="false"/>
    <!--How many old backups do you want to keep?-->
    <add key="KEEP_FILES_AMOUNT" value="10"/>

    
  </appSettings>
</configuration>